@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.swiper {
  overflow: visible !important;
}

@media screen and (max-width: 640px) {
  .swiper {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

/* .swiper-slide {
  width: fit-content !important;
} */

:root {
  @apply h-full;
  @apply overflow-x-hidden;
  @apply relative;
}

.input {
  @apply w-full h-12 px-4 py-3 bg-[#EBEFF1] text-base text-gray-primary rounded-lg transition-all outline-none outline-offset-0 focus-visible:ring-2 focus-visible:ring-[#9DA5AA];
}

.input-error {
  @apply border-2 border-[#FF7373] focus-visible:ring-[#FF7373];
}

.gray-button {
  @apply bg-[#C8D6DF] border-[#C8D6DF] py-1.5 px-8 flex items-center justify-center gap-2 text-base text-gray-primary rounded-lg border-2 font-medium disabled:brightness-75 disabled:cursor-not-allowed disabled:hover:brightness-75 hover:brightness-90 transition;
}

.green-button {
  @apply bg-green-primary border-green-primary py-1.5 px-8 flex items-center justify-center gap-2 text-base text-white rounded-lg border-2 font-medium disabled:brightness-75 disabled:cursor-not-allowed disabled:hover:brightness-75 hover:brightness-90 transition;
}

.rccs,
.rccs__card {
  @apply !w-full !max-w-[290px] lg:!max-w-[435px] lg:!h-[274.309496784px];
}

body {
  background-color: #f0f5f8;

  @apply h-full;
  @apply overflow-x-hidden;
  @apply relative;
}
